<div class=wrapper_with_padding>
  <h1>
    <%= "Edit your collection" %>
  </h1>
  <div class="clearfix" id="notes">
    <% unless @notes.blank? %>
    <% @notes.each do |note| %>
    <a href="<%= (url_for [note]) %>">
      <div class="note">
        <p class="title">
          <%= note.title %>
        </p></br>
        <% if !note.collections.include?(@collection) %>
        <button>
          <%= link_to "Add", fill_collection_path(collection_id: @collection.id, note_id: note.id), method: "put" %>
        </button></br></br>
        <% else %>
        <button>
          <%= link_to "Delete", unfill_collection_path(collection_id: @collection.id, note_id: note.id), method: "put" %>
        </button></br></br>
        <% end %>
        <p class="date">
          <%= time_ago_in_words(note.created_at) %>
        </p>
      </div>
    </a>
    <% end %>
    <% else %>
    <p>It seems that you haven't created any note. Go ahead!</p>
    <% end %>
  </div>
  <%= render 'form' %>
  <div id="collections_show">
    <div class="buttons">
      <%= link_to "Cancel", notes_path, class: "button" %>
    </div>
  </div>
</div>
