<div class="wrapper_with_padding">
  <div id="collection_show">
    <h1 class="title">
      <%= @collection.title %>
    </h1>
  </div>
  <div class="clearfix" id="notes">
    <% unless @notes.blank? %>
    <% @notes.each do |note| %>
    <a href="<%= (url_for [note]) %>">
      <div class="note">
        <p class="title">
          <%= note.title %>
        </p>
        <p class="date">
          <%= time_ago_in_words(note.created_at) %>
        </p>
      </div>
    </a>
    <% end %>
    <% else %>
    <p>It seems that you haven't added any note. Would you like to?</p>
    <% end %>
  </div>
  <% if @collection.users.include?(current_user) || current_user.admin? %>
    <div id="collection_show">
      <div class="buttons">
        <%= link_to "Edit", edit_collection_path(@collection), class: "button" %>
        <%= link_to "Delete", collection_path(@collection), method: "delete", data: { confirm: "Are you sure?" }, class: "button" %>
        <%= link_to "Share", index_share_collection_path(@collection), method: "get", class: "button" %>
      </div>
    </div>
  <% end %>
</div>
