<div class="wrapper_with_padding">
  <h2>Create User</h2>
  <%= simple_form_for @user do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>
  <%= f.button :submit, "Create", class: "button" %>
  <% end %>
  <div id="user_show">
    <div class="buttons">
      <%= link_to "Go Back", :back, class: "button" %>
    </div>
  </div>
</div>
