<div class="wrapper_with_padding">
  <h1>About Me</h1>
  <p><b>E-mail: </b><%= current_user.email %></p>
  <h2>My Friends</h2>
  <div class="clearfix" id="notes">
    <% for user in @users %>
      <% for friend in @friends %>
        <% if friend.id == user.id %>
          <div class="note">
            <p class="title">
              <%= user.email %>
            </p></br>
            <button>
              <%= link_to "Remove", friends_destroy_path(id: friend.id), method: "get" %>
            </button>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <h3>Pending Friends</h3>
  <div class="clearfix" id="notes">
    <% for user in @users %>
      <% for outgoing in @outgoing %>
        <% if outgoing.friend_id == user.id %>
          <div class="note">
            <p class="title">
              <%= user.email %>
            </p></br>
            <button>
              <%= link_to "Cancel", friend_request_path(id: outgoing.id), method: "delete" %>
            </button>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <h3>Friend Requests</h3>
  <div class="clearfix" id="notes">
    <% for user in @users %>
      <% for incoming in @incoming %>
        <% if incoming.user_id == user.id %>
      <div class="note">
        <p class="title">
          <%= user.email %>
        </p></br>
        <button>
          <%= link_to "Accept", friend_request_path(id: incoming.id), method: "put" %>
        </button></br></br>
        <button>
          <%= link_to "Revoke", friend_request_path(id: incoming.id), method: "delete" %>
        </button>
      </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
  <div id="note_show">
    <div class="buttons">
      <%= link_to "Find Friends", users_path, class: "button" %>
    </div>
  </div>
</div>
