<div class="wrapper_with_padding">
  <h1>About Me</h1>
  <p><b>E-mail: </b><%= current_user.email %></p>
  <h2>My Friends</h2>
  <div class="clearfix" id="notes">
    <% for friendship in current_user.friendships %>
    <div class="note">
      <p class="title">
        <%= friendship.friend.email %>
      </p></br>
      <button>
        <%= link_to "Remove", friendship, :method => :delete %>
      </button>
    </div>
    <% end %>
  </div>
  <h2>Users Who Have Added Me</h2>
  <div class="clearfix" id="notes">
    <% for user in current_user.inverse_friends %>
    <div class="note">
      <p class="title">
        <%= user.email %>
      </p></br>
      <button>
        <%= link_to "Accept/Revoke" %>
      </button>
    </div>
    <% end %>
  </div>
  <div id="note_show">
    <div class="buttons">
      <%= link_to "Find Friends", users_path, class: "button" %>
    </div>
  </div>
</div>
